<footer style="background-color: #104750; color: white; text-align: center; padding: 20px; font-size: 14px; width: 60%; margin: 0 auto;">
  <p>
    © {{ currentYear }} SENS Barbería. Todos los derechos reservados.
  </p>
  <p>
    El contenido de este sitio, incluyendo imágenes, textos y diseño, está protegido por leyes de propiedad intelectual.
    Queda estrictamente prohibido su uso, reproducción, distribución o modificación sin autorización expresa del propietario.
  </p>
  <p>
    El uso no autorizado de cualquier parte del contenido podrá dar lugar a acciones legales según corresponda.
  </p>
</footer>
