.footer {
    background-color: #104750;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: white;
    font-size: 24px;
    margin-right: 5px;
}

.text {
    color: white;
    font-size: 14px;
}