<div class="edit-form">
  <mat-form-field class="input-field">
    <h3 class="editInput">Titulo</h3>
    <input
      matInput
      placeholder="Título"
      [(ngModel)]="property.title"
      name="title"
      class="w-100"
      required
    />
  </mat-form-field>
  <mat-form-field class="input-field">
    <h3 class="editInput">Descripcion</h3>
    <textarea
      matInput
      placeholder="Descripción"
      [(ngModel)]="property.description"
      name="description"
      class="w-100 textarea"
      required
    ></textarea>
  </mat-form-field>
  <mat-form-field class="input-field">
    <h3 class="editInput">Precio</h3>
    <input
      matInput
      type="number"
      placeholder="Precio"
      [(ngModel)]="property.price"
      name="price"
      class="w-100"
      required
    />
  </mat-form-field>
  <mat-form-field class="input-field">
    <h3 class="editInput">Departamento</h3>
    <input
      matInput
      placeholder="Departamento"
      [(ngModel)]="property.location"
      name="location"
      class="w-100"
      required
    />
  </mat-form-field>
  <mat-form-field class="input-field">
    <h3 class="editInput">Direccion</h3>
    <input
      matInput
      placeholder="Dirección"
      [(ngModel)]="property.direccion"
      name="direccion"
      class="w-100"
      required
    />
  </mat-form-field>
  <mat-form-field class="input-field">
    <h3 class="editInput">Esquina</h3>
    <input
      matInput
      placeholder="esquina"
      [(ngModel)]="property.esquina"
      name="esquina"
      class="w-100"
      required
    />
  </mat-form-field>

  <mat-form-field class="input-field">
    <h3 class="editInput">Tipo de Propiedad</h3>
    <input
      matInput
      placeholder="Tipo de Propiedad"
      [(ngModel)]="property.tipoPropiedad"
      name="tipoPropiedad"
      class="w-100"
      required
    />
  </mat-form-field>

  <mat-form-field class="input-field">
    <h3 class="editInput">Tipo de Negocio</h3>
    <input
      matInput
      placeholder="Tipo de Negocio"
      [(ngModel)]="property.tipoNegocio"
      name="tipoNegocio"
      class="w-100"
      required
    />
  </mat-form-field>

  <mat-form-field
    class="input-field"
    *ngFor="let imagen of tempImagenes; let i = index"
  >
    <h3 class="editInput">Imagen {{ i + 1 }}</h3>
    <input
      matInput
      placeholder="Imagen {{ i + 1 }}"
      [(ngModel)]="tempImagenes[i]"
      name="imagen{{ i }}"
      class="w-100"
      required
    />
  </mat-form-field>
</div>

<!-- Center the action buttons -->
<div class="action-buttons">
  <div class="button-container">
    <button mat-stroked-button color="warn" (click)="onCancel()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="onSave()">
      Guardar
    </button>
  </div>
</div>
