.accordion-container {
    gap: 20px;
}

.property-image-card {
    max-width: 100%;
    margin-bottom: 20px;
}

.property-card {
    max-width: 100%;
    background-color: #f7f7f7;
    padding: 20px;
}

.property-title {
    font-size: 24px;
}

.property-location {
    font-size: 16px;
    color: #666;
}

.property-description {
    font-size: 16px;
    line-height: 1.5;
}

.property-price {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    /* Set text color to black */
}

.property-type,
.property-address {
    font-size: 16px;
    margin-top: 10px;
}

.accordion-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

mat-expansion-panel {
    box-shadow: none;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

mat-expansion-panel-header {
    align-items: center;
}

mat-panel-title {
    flex: 1;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.property-image-carousel {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    background-color: #e2e2e28a;
    touch-action: pan-y;
    /* Añade las siguientes propiedades para habilitar el scroll horizontal en dispositivos móviles */
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth; /* Opcional: agrega un desplazamiento suave al carrusel */
}


.property-row {
    display: flex;
    flex-wrap: wrap;
}

.property-column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.property-card,
.whatsapp-form-card {
    flex: 1;
    background-color: #f7f7f7 !important;
    /* Background color for the cards */
    border-radius: 8px;
    /* Rounded corners for the cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.property-card mat-card-content,
.whatsapp-form-card mat-card-content {
    flex: 1;
}

.property-column mat-card {
    max-width: 100%;
    background-color: #f7f7f7;
}

.property-column mat-card-content {
    font-size: 16px;
}

.property-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.property-column .form-group {
    margin-bottom: 20px;
}

.property-column label {
    font-weight: bold;
}

.btn {
    font-size: 18px;
    padding: 10px 40px;
    align-self: flex-end;
    background-color: #B0EFD1;
    color: #000;
    border-color: #B0EFD1;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #25c075 !important;
    border-color: #81CBA7;
    color: #fff;
}

.titulo {
    color: #06914d;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.carousel-nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    padding: 0;
    transition: color 0.3s ease;
}


.carousel-button {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    padding: 10px;
}

.property-images {
    display: flex;
    width: 100%;
}

.property-image {
    width: 100%;
    min-width: 100%;
    /* Asegura que las imágenes ocupen todo el ancho */
    display: inline-flex;
    /* Hace que las imágenes se muestren en línea */
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.property-image img {
    max-width: 100%;
    max-height: 500px;
    /* Altura máxima de la imagen */
    object-fit: contain;
    /* Ajusta el tamaño de la imagen */
}

.property-card-container {
    display: flex;
    flex-wrap: wrap;
}

.property-card-container .property-card {
    flex: 1;
}

#questionInput {
    min-height: 130px;
}


@media (max-width: 768px) {
    .property-image img {
        max-height: 80vh;
        /* Cambia la altura máxima de la imagen según tus preferencias */
    }

    .property-image-carousel {
        height: 450px;
        /* Adjust the height for smaller screens */
    }

    .wppColumn {
        margin-top: 30px;
    }

}