.hero-image {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.city-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomEffect 10s ease infinite alternate;
  position: relative;
  z-index: 0;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}

.banner-text {
  font-size: 40px;
  font-weight: 400;
  color: white;
  margin-top: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros-section {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding:0px 10px 10px 10px;
  text-align: left;
  max-width: 900px;
  margin: 60px auto;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.nosotros-section h3 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
  display: inline-block;
  color: #FFB82A;
  text-align:center;
}

.nosotros-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}


@media screen and (max-width: 1150px) {
  .hero-image {
    height: 400px; /* subí de 300 a 400 */
  }

  .banner-text {
    font-size: 24px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 768px) {
  .hero-image {
    height: 320px; /* subí de 250 a 320 */
  }

  .banner-text {
    font-size: 20px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 426px) {
  .hero-image {
    height: 240px; /* subí de 150 a 240 */
  }

  .banner-text {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
