<section>
  <div class="container-fluid hero-image">
    <img src="../../assets/heroImage.jpg" alt="Vista de la ciudad" class="city-image" />
    <div class="overlay"></div>

    <div class="hero-button-container">
      <a href="https://book.weibook.co/sensbarberia" target="_blank" class="hero-button">Reservá tu turno</a>
    </div>
  </div>
</section>




<section id="nosotros" class="sectionIndex">
  <div class="container mt-5">
    <div class="row">
      <h3>No encajes - Rompe el molde</h3>
      <p>En SENS Barbería nos dedicamos al cuidado integral del hombre, combinando estilo, comodidad y una atención
        personalizada.
        Nuestro equipo de profesionales trabaja para que cada corte y arreglo refleje tu identidad, manteniéndote
        siempre impecable.
      </p>
      <p>
        Pero SENS es mucho más que una barbería: mientras esperás tu turno, podés relajarte jugando una partida de pool,
        disfrutar de la Play o simplemente tomarte un buen café o chocolate caliente.
      </p>
      <p>Vení a vivir una experiencia distinta, donde cada detalle está pensado para vos.</p>
    </div>
  </div>
</section>
<section id="equipo" class="sectionIndex">
  <div class="container mt-5">
    <div class="row">
      <h3>No encajes - Rompe el molde</h3>
      <p>En SENS Barbería nos dedicamos al cuidado integral del hombre, combinando estilo, comodidad y una atención
        personalizada.
        Nuestro equipo de profesionales trabaja para que cada corte y arreglo refleje tu identidad, manteniéndote
        siempre impecable.
      </p>
      <p>
        Pero SENS es mucho más que una barbería: mientras esperás tu turno, podés relajarte jugando una partida de pool,
        disfrutar de la Play o simplemente tomarte un buen café o chocolate caliente.
      </p>
      <p>Vení a vivir una experiencia distinta, donde cada detalle está pensado para vos.</p>
    </div>
  </div>
</section>
<section id="elegirnos" class="sectionIndex">
  <div class="container mt-5">
    <div class="row">
      <h3>No encajes - Rompe el molde</h3>
      <p>En SENS Barbería nos dedicamos al cuidado integral del hombre, combinando estilo, comodidad y una atención
        personalizada.
        Nuestro equipo de profesionales trabaja para que cada corte y arreglo refleje tu identidad, manteniéndote
        siempre impecable.
      </p>
      <p>
        Pero SENS es mucho más que una barbería: mientras esperás tu turno, podés relajarte jugando una partida de pool,
        disfrutar de la Play o simplemente tomarte un buen café o chocolate caliente.
      </p>
      <p>Vení a vivir una experiencia distinta, donde cada detalle está pensado para vos.</p>
    </div>
  </div>
</section>
<section id="visitarnos" class="sectionIndex">
  <div class="container mt-5">
    <div class="row">
      <h3>No encajes - Rompe el molde</h3>
      <p>En SENS Barbería nos dedicamos al cuidado integral del hombre, combinando estilo, comodidad y una atención
        personalizada.
        Nuestro equipo de profesionales trabaja para que cada corte y arreglo refleje tu identidad, manteniéndote
        siempre impecable.
      </p>
      <p>
        Pero SENS es mucho más que una barbería: mientras esperás tu turno, podés relajarte jugando una partida de pool,
        disfrutar de la Play o simplemente tomarte un buen café o chocolate caliente.
      </p>
      <p>Vení a vivir una experiencia distinta, donde cada detalle está pensado para vos.</p>
    </div>
  </div>
</section>
<section id="ofrecemos" class="sectionIndex">
  <div class="container mt-5">
    <div class="row">
      <h3>No encajes - Rompe el molde</h3>
      <p>En SENS Barbería nos dedicamos al cuidado integral del hombre, combinando estilo, comodidad y una atención
        personalizada.
        Nuestro equipo de profesionales trabaja para que cada corte y arreglo refleje tu identidad, manteniéndote
        siempre impecable.
      </p>
      <p>
        Pero SENS es mucho más que una barbería: mientras esperás tu turno, podés relajarte jugando una partida de pool,
        disfrutar de la Play o simplemente tomarte un buen café o chocolate caliente.
      </p>
      <p>Vení a vivir una experiencia distinta, donde cada detalle está pensado para vos.</p>
    </div>
  </div>
</section>