<section>
  <div class="container-fluid hero-video">
    <img src="assets/carrusel1.jpg" alt="City background" class="city-image" />


    <div class="overlay"></div>
    <div class="hero-button-container">
      <a href="https://book.weibook.co/sensbarberia" target="_blank" class="hero-button">Reservá tu turno</a>
    </div>
  </div>
</section>


<section id="nosotros" class="sectionIndex">
  <div class="container mt-5">
    <div class="row">
      <h3>No encajes - Rompe el molde</h3>
      <p>En SENS Barbería nos dedicamos al cuidado integral del hombre, combinando estilo, comodidad y una atención
        personalizada.
        Nuestro equipo de profesionales trabaja para que cada corte y arreglo refleje tu identidad, manteniéndote
        siempre impecable.
      </p>
      <p>
        Pero SENS es mucho más que una barbería: mientras esperás tu turno, podés relajarte jugando una partida de pool,
        disfrutar de la Play o simplemente tomarte un buen café o chocolate caliente.
      </p>
      <p>Vení a vivir una experiencia distinta, donde cada detalle está pensado para vos.</p>
    </div>
  </div>


</section>
<!-- Carrusel 1: izquierda a derecha (reverse) -->
<section class="multi-carousel-section py-5">
  <div class="carousel-wrapper">
    <div class="carousel-track reverse">
      <img src="assets/carrusel1.jpg" alt="1" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="2" class="carousel-img-multi" />
      <img src="assets/carrusel1.jpg" alt="3" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="4" class="carousel-img-multi" />
      <img src="assets/carrusel1.jpg" alt="3" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="4" class="carousel-img-multi" />
      <img src="assets/carrusel1.jpg" alt="3" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="4" class="carousel-img-multi" />
      <img src="assets/carrusel1.jpg" alt="3" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="4" class="carousel-img-multi" />
      <img src="assets/carrusel1.jpg" alt="3" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="4" class="carousel-img-multi" />
    </div>
  </div>
</section>

<!-- Carrusel 2: derecha a izquierda (normal) -->
<section class="multi-carousel-section py-5">
  <div class="carousel-wrapper">
    <div class="carousel-track">
      <img src="assets/carrusel1.jpg" alt="5" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="6" class="carousel-img-multi" />
      <img src="assets/carrusel1.jpg" alt="7" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="8" class="carousel-img-multi" />
      <img src="assets/carrusel1.jpg" alt="7" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="8" class="carousel-img-multi" />
      <img src="assets/carrusel1.jpg" alt="7" class="carousel-img-multi" />
      <img src="assets/carrusel2.jpg" alt="8" class="carousel-img-multi" />
    </div>
  </div>
</section>

<section id="equipo" class="sectionIndex">
  <div class="container mt-5">
    <div class="row justify-content-center">

      <h3>Equipo</h3>
      <!-- Barbero 1 -->
      <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">

        <div class="card text-center shadow-sm border-0 rounded-4 h-100 card-hover">
          <img src="../../../assets/gerardo.jpg" class="card-img-top rounded-top-4" alt="Barbero 1">
          <div class="card-body">
            <h5 class="card-title">Gerardo</h5>
            <div class="text-dark">
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star text-warning"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">
        <div class="card text-center shadow-sm border-0 rounded-4 h-100 card-hover">
          <div class="zoom-img-wrapper">
            <img src="../../../assets/lucas.jpg" class="card-img-top"
              style="transform: scale(1.45) translateX(10px) translateY(-10px);" alt="Barbero 1">
          </div>
          <div class="card-body">
            <h5 class="card-title">Lucas Sami</h5>
            <div class="text-dark">
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star text-warning"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Barbero 2 -->
      <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">

        <div class="card text-center shadow-sm border-0 rounded-4 h-100 card-hover">
          <div class="zoom-img-wrapper">
            <img src="../../../assets/mathias.jpg" class="card-img-top"
              style="transform: scale(1.25) translateX(10px) translateY(-15px);" alt="Barbero 1">
          </div>
          <div class="card-body">
            <h5 class="card-title">Mathias.R</h5>
            <div class="text-dark">
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star text-warning"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Barbero 4 -->
      <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">

        <div class="card text-center shadow-sm border-0 rounded-4 h-100 card-hover">
          <div class="zoom-img-wrapper">
            <img src="../../../assets/eze.jpg" class="card-img-top"
              style="transform: scale(1.15) translateX(10px) translateY(-10px);" alt="Barbero 1">
          </div>
          <div class="card-body">
            <h5 class="card-title">Ezequiel</h5>
            <div class="text-dark">
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star text-warning"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Barbero 3 -->
      <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">

        <div class="card text-center shadow-sm border-0 rounded-4 h-100 card-hover">
          <div class="zoom-img-wrapper">
            <img src="../../../assets/gaston.jpg" class="card-img-top" style="transform: scale(1.25) translateX(10px);"
              alt="Barbero 1">
          </div>
          <div class="card-body">
            <h5 class="card-title">Gastón</h5>
            <div class="text-dark">
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star me-1 text-warning"></i>
              <i class="fas fa-star text-warning"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- <section id="elegirnos" class="sectionIndex">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <h3 class="text-center mb-4" style="color: #FFB82A;">¿Por qué elegirnos?</h3>

      <div class="col-12 mb-3 d-flex align-items-start">
        <i class="fas fa-star text-warning me-3 fs-3"></i>
        <p class="mb-0">Asesoramiento personalizado según tu estilo.</p>
      </div>

      <div class="col-12 mb-3 d-flex align-items-start">
        <i class="fas fa-star text-warning me-3 fs-3"></i>
        <p class="mb-0">Cuidamos tu estética con productos profesionales.</p>
      </div>

      <div class="col-12 mb-3 d-flex align-items-start">
        <i class="fas fa-star text-warning me-3 fs-3"></i>
        <p class="mb-0">Viví una experiencia integral en cada visita.</p>
      </div>

      <div class="col-12 mb-3 d-flex align-items-start">
        <i class="fas fa-star text-warning me-3 fs-3"></i>
        <p class="mb-0">Ambiente relajado con juegos, café y buena música.</p>
      </div>
    </div>
  </div>
</section> -->

<section id="visitarnos" class="sectionIndex">
  <div class="container mt-5">
    <div class="row align-items-center">

      <!-- Columna izquierda: Mapa -->
      <div class="col-md-6 mb-4 mb-md-0" style="padding-top:20px">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.394833916485!2d-56.1683399!3d-34.8965398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f813b793d50cb%3A0xee15c1c59c3c2fd6!2sSENS!5e0!3m2!1ses-419!2suy!4v1720904977440!5m2!1ses-419!2suy"
          width="100%" height="350" style="border:0; border-radius: 12px;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>


      <!-- Columna derecha: Info + botón -->
      <div class="col-md-6">
        <h3 class="mb-3" style="text-align: left">Ubicación</h3>
        <p><strong>Dirección:</strong> Colonia 2311</p>
        <p><strong>Horario:</strong> Lunes a Sábado de 10:00 a 20:00</p>
        <p>
          A solo 2 cuadras de Tres Cruces. Podés dejar el auto GRATIS por 2 horas en el estacionamiento.
        </p>

        <!-- Contenedor del botón + redes -->
        <div class="visit-button-container mt-4 d-flex align-items-center gap-3 flex-wrap">
          <!-- Botón principal -->

          <!-- Botones de redes -->
          <a href="https://www.instagram.com/sens_barberia/?hl=en" target="_blank"
            class="btn instagram-button d-flex justify-content-center align-items-center p-2"
            style="width: 48px; height: 48px;">
            <img src="assets/instagram.png" alt="Instagram" style="height: 24px;" />
          </a>

          <a href="https://wa.me/59891123456" target="_blank"
            class="btn whatsapp-button d-flex justify-content-center align-items-center p-2"
            style="width: 48px; height: 48px;">
            <img src="/assets/whatsApp.svg" alt="WhatsApp" style="height: 24px;" />
          </a>
          <a href="https://book.weibook.co/sensbarberia" target="_blank" class="visit-button">
            Reservá tu turno
          </a>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="multi-carousel-section py-5">
  <div id="customCarousel" class="carousel-wrapper">
    <div class="carousel-track">
      <img src="../../../assets/carrusel1.jpg" alt="1" class="carousel-img-multi" />
      <img src="../../../assets/carrusel2.jpg" alt="2" class="carousel-img-multi" />
      <img src="../../../assets/carrusel1.jpg" alt="3" class="carousel-img-multi" />
      <img src="../../../assets/carrusel2.jpg" alt="4" class="carousel-img-multi" />
      <img src="../../../assets/carrusel1.jpg" alt="5" class="carousel-img-multi" />
      <img src="../../../assets/carrusel2.jpg" alt="6" class="carousel-img-multi" />
      <img src="../../../assets/carrusel1.jpg" alt="7" class="carousel-img-multi" />
      <img src="../../../assets/carrusel2.jpg" alt="8" class="carousel-img-multi" />
    </div>
  </div>
</section>

<section id="ofrecemos" class="sectionIndex py-5">
  <div class="container">
    <div class="row align-items-center">

      <!-- Carrusel izquierdo -->
      <div class="col-md-4">
        <div id="carouselLeft" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cardTatujae">
                <img src="../../../assets/tatuaje1.jpg" class="card-img-top" alt="Pool">

              </div>
            </div>
            <div class="carousel-item">
              <div class="cardTatujae">
                <img src="../../../assets/tatuaje3.jpg" class="card-img-top" alt="Play">

              </div>
            </div>
            <div class="carousel-item">
              <div class="cardTatujae">
                <img src="../../../assets/tatuaje5.jpg" class="card-img-top" alt="Play">

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Texto central -->
      <div class="col-md-4 text-center py-4 py-md-0">
        <h3>También brindamos...</h3>
        <p>Servicio de tatuaje con Pablo Ferreira</p>

        <p>Podés ver su trabajo o agendar tu turno directamente:</p>

        <div class="d-flex justify-content-center gap-3 mt-3">
          <!-- Botón Instagram -->
          <a href="https://www.instagram.com/pfink97/?hl=en" target="_blank"
            class="btn instagram-button d-flex justify-content-center align-items-center p-2"
            style="width: 68px; height: 48px;">
            <img src="assets/instagram.png" alt="Instagram" style="height: 24px;" />
          </a>

          <!-- Botón WhatsApp -->
          <a href="https://api.whatsapp.com/message/GKFWH253MPB2J1?autoload=1&app_absent=0" target="_blank"
            class="btn whatsapp-button d-flex justify-content-center align-items-center p-2"
            style="width: 68px; height: 48px;">
            <img src="assets/whatsApp.svg" alt="WhatsApp" style="height: 24px;" />
          </a>
        </div>


      </div>


      <!-- Carrusel derecho -->
      <div class="col-md-4">
        <div id="carouselRight" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cardTatujae">
                <img src="../../../assets/tatuaje2.jpg" class="card-img-top" alt="Café">

              </div>
            </div>
            <div class="carousel-item">
              <div class="cardTatujae">
                <img src="../../../assets/tatuaje4.jpg" class="card-img-top" alt="Relax">

              </div>
            </div>
            <div class="carousel-item">
              <div class="cardTatujae">
                <img src="../../../assets/tatuaje6.jpg" class="card-img-top" alt="Relax">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>