.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que quede encima de todo */
  background-color: #104750; /* Fondo blanco o el que prefieras */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container img {
  height: 70px;
  width: 90px; 
  transform: scale(3.8);
  transform-origin: center;
}


.navbar-links {
  display: flex;
  gap: 80px;
  align-items: center;
  color: white;
  size: 215px;
}


.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  color: white;
  font-size: 20px;
  
}

.nav-link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 5px 0;
  overflow: hidden;
  
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #FFC34C;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}
