<header class="header" id="inicioIndex">
  <div class="header-content">
    <!-- Logo -->
    <div class="logo-container">
      <a (click)="goToInicioDirectly()">
        <img src="../../../assets/sensLogo.png" alt="Logo" />
      </a>
    </div>

    <!-- Hamburger icon (visible solo en mobile) -->
    <button class="hamburger-btn" (click)="toggleMenu()">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>

    <!-- Navigation links -->
    <nav class="navbar-links" [class.active]="isMenuOpen">
      <a class="nav-link" (click)="scrollTo('nosotros')">Nosotros</a>
      <a class="nav-link" (click)="scrollTo('equipo')">Equipo</a>
      <a class="nav-link" (click)="scrollTo('elegirnos')">Elegirnos</a>
      <a class="nav-link" (click)="scrollTo('visitarnos')">Visitarnos</a>
      <a class="nav-link" (click)="scrollTo('ofrecemos')">Ofrecemos</a>
    </nav>
  </div>
</header>
